@import "./variables.css";
@import "./animations.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-main);
    color: var(--text-main);
    font-family: "Inter", "Segoe UI", sans-serif;
    line-height: 1.6;
    transition: background 0.4s ease, color 0.4s ease;
}
